.boxInner {
  height: 56px;
  width: 56px;
  background: #fad655;
  border-radius: 50%;
  transition: transform .2s ease;
}

.box:hover {
  cursor: pointer;
}

.box:hover .boxInner {
  transform: translateY(-20%);
}