.card {
  width: 340px;
  height: 340px;
  overflow: hidden;
  border-radius: 16px;
  background: #fff;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  box-shadow:
    0px 0px 0px 1px rgba(9, 9, 11, 0.08),
    0px 1px 2px -1px rgba(9, 9, 11, 0.08),
    0px 2px 4px 0px rgba(9, 9, 11, 0.04);
}

.cardDescription {
  --margin: 6px;
  border-radius: 12px;
  border: 1px solid #fff;
  position: relative;
  background: #fafafa;
  margin: var(--margin);
  width: 100%;
  padding: 10px 14px 13px;
  font-size: 13px;
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08),
    0px 2px 4px 0px rgba(0, 0, 0, 0.04);

  transform: translateY(calc(100% + var(--margin) + 1px));
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .cardDescription,
.card:focus-visible .cardDescription {
  transform: translateY(0);
}

.cardIcon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.cardTitle {
  color: #1b1b1d;
  font-weight: 500;
  margin: 0;
}

.cardSubtitle {
  color: #717175;
  line-height: 1;
  margin: 4px 0 0 0;
}
