.wrapper {
  --coin-size: 56px;
  --coin-thickness: 6px;
  --primary-color: #ffcd6c;
  --secondary-color: #ffaa04;

  height: var(--coin-size);
  width: var(--coin-size);
  animation: spin 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  transform-style: preserve-3d;
}

.coin {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--primary-color);
  backface-visibility: hidden;
}

.frontOuter {
  composes: coin;
  transform: translateZ(calc(var(--coin-thickness) / 2));
}

.frontInner {
  composes: coin;
  background: var(--secondary-color);
  transform: rotateY(180deg) translateZ(calc(-1 * var(--coin-thickness) / 2));
}

.backOuter {
  composes: coin;
  transform: rotateY(180deg) translateZ(calc(var(--coin-thickness) / 2));
}

.backInner {
  composes: coin;
  background: var(--secondary-color);
  transform: translateZ(calc(-1 * var(--coin-thickness) / 2));
}

.coinSide {
  position: absolute;
  left: calc(var(--coin-size) / 2);
  top: 0px;
  height: var(--coin-size);
  width: var(--coin-thickness);
  transform: rotateY(90deg);
  background: var(--secondary-color);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  90% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
